/.project
/.pydevproject
/.settings/org.eclipse.ltk.core.refactoring.prefs

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/__pycache__/*.pyc
src/__pycache__/*
/util/__pycache__/color_chooser.cpython-34.pyc
/util/__pycache__/generator.cpython-34.pyc
/util/__pycache__/global_variables.cpython-34.pyc
/util/__pycache__/random_generator.cpython-34.pyc
/loader/__pycache__/xsl_loader.cpython-34.pyc
/log
/src/symbols/__pycache__/*.pyc
/src/clustering/__pycache__/*.pyc
/src/data_calculations/__pycache__/data_manager.cpython-34.pyc
/src/data_calculations/__pycache__/distorter.cpython-34.pyc
/src/data_calculations/__pycache__/foreign_rejector.cpython-34.pyc
/src/data_calculations/__pycache__/matrices_batch.cpython-34.pyc
/src/data_calculations/__pycache__/results_data.cpython-34.pyc
/src/data_calculations/__pycache__/synthetic_data_calc.cpython-34.pyc
/src/gui/__pycache__/plot_3d.cpython-34.pyc
/src/util/__pycache__/color_chooser.cpython-34.pyc
/src/util/__pycache__/console.cpython-34.pyc
/src/util/__pycache__/generator.cpython-34.pyc
/src/util/__pycache__/global_variables.cpython-34.pyc
/src/util/__pycache__/loader.cpython-34.pyc
/src/util/__pycache__/random_generator.cpython-34.pyc
/test_samples
/src/clustering/cluster_test.py
*.pyc
.idea
