/.project
/.pydevproject
/.settings/org.eclipse.ltk.core.refactoring.prefs

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/__pycache__/*.pyc
